{% extends 'main.html' %}
{% load static %}
{% block content %}

    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    {% for form in formset %}
                        {{ formset.management_form }}
                        {{ form }}
                        <hr>
                    {% endfor %}
                    <input type="submit" name="Submit" value="Place New Order">
                </form>
            </div>
        </div>
    </div>
{% endblock %}