{% extends 'main.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Customer :</h5>
                <hr>
                <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'create_order' customer.id %}">Place New
                    Order</a>
            </div>
        </div>

        <div class="col-md col-xl">
            <div class="card text-black mb-3">
                <div class="card-header text-center">
                    <h5 class="card-title">Contact Informations</h5>
                </div>
                <div class="card-body">
                    <p>Name : {{ customer.name }}</p>
                    <p>Email : {{ customer.email }}</p>
                    <p>Phone : {{ customer.phone }}</p>
                    <p>Created Date : {{ customer.dataCreated }}</p>
                    <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'update_customer' customer.id %}">Update
                        Customer</a>
                </div>
            </div>
        </div>
        <div class="col-md col-xl">
            <div class="card text-center text-black mb-3">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"> {{ orders_count }}</h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Note</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.product.category }}</td>
                            <td>{{ order.note }}</td>
                            <td>{{ order.dateCreated }}</td>
                            <td>{{ order.status }}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}