{% extends 'main.html' %}
{% block content %}
    {% include 'status.html' %}
    <br>
    <div class="row">
        <div class="col-md-5 col-xl-5">
            <h5>CUSTOMERS :</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-outline-primary btn-sm btn-block mb-3" href="#">Create Customer</a>
                <table class="table table-sm">
                    <tr>
                        <th>Customer Id</th>
                        <th>Customer</th>
                        <th></th>
                    </tr>

                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.id }} </td>
                            <td>{{ customer.name }}</td>
                            <td><a href="{% url 'customer' customer.id %}" class="btn btn-sm btn-info">View</a></td>
                        </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
        <div class="col-md-7">
            <h5>LAST 5 ORDERS :</h5>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.dateCreated }}</td>
                            <td>{{ order.status }}</td>
                            <td><a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-info">Update</a></td>
                            <td><a href="{% url 'delete_order' order.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}

