{% extends 'main.html' %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <p>Are you sure want to delete " {{ order }} "</p>
                <form method="POST" action="{% url 'delete_order' order.id %}">
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'customer' order.customer.id %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" name="Remove" value="Remove">
                </form>
            </div>
        </div>
    </div>
{% endblock %}