{% extends 'main.html' %}
{% block content %}
    <style>
        #profile-image {
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>
    <br>
    <div class="row">
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="col-md-3">
                <div class="card card-body">
                    <a class="btn btn-primary" href="{% url 'dashboard' %}">Back to Dashboard</a>
                </div>
                <hr>
                <h3 style="text-align: center">Profile</h3>
                <hr>
                <img id="profile-image" src="{{ request.user.customer.profileImage.url }}">
            </div>
            <div class="col-md-9">
                <div class="card card-body">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" name="submit" value="Update Information">

                </div>
            </div>
        </form>
    </div>
{% endblock %}
