{% extends 'main.html' %}
{% block content %}
    <div class="row">
        <div class="card card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="Update" value="Update">
            </form>
        </div>
    </div>
{% endblock %}