{% extends 'main.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                        <hr>
                    {% endfor %}
                    <input type="submit" value="Submit" name="Submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}